@import "src/presentation/styles/colors";

.inputWrap {
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;

  .status {
    position: absolute;
    right: 8px;
    cursor: help;

  }
}
