@import "src/presentation/styles/colors";

.errorWrap {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  align-items: center;
  .spinner {
    margin-top: 30px;
  }
  .error {
    margin-top: 30px;
    color: $primaryLight;
  }
}
